.card {
    display: inline-block;
    border: solid 1px #000;
    height: 100px;
    width: 100px;
    background-image: url('../images/oclock.jpg');
    background-size: contain;
    margin: 1px;
    margin-bottom: 1px;
}

.card--revealed.card--0 {
    background: url('../images/cards.png');
    background-position: 0px 0px;
}
.card--revealed.card--1 {
    background: url('../images/cards.png');
    background-position: 0px -100px;
}
.card--revealed.card--2 {
    background: url('../images/cards.png');
    background-position: 0px -200px;
}
.card--revealed.card--3 {
    background: url('../images/cards.png');
    background-position: 0px -300px;
}
.card--revealed.card--4 {
    background: url('../images/cards.png');
    background-position: 0px -400px;
}
.card--revealed.card--5 {
    background: url('../images/cards.png');
    background-position: 0px -500px;
}
.card--revealed.card--6 {
    background: url('../images/cards.png');
    background-position: 0px -600px;
}
.card--revealed.card--7 {
    background: url('../images/cards.png');
    background-position: 0px -700px;
}
.card--revealed.card--8 {
    background: url('../images/cards.png');
    background-position: 0px -800px;
}
.card--revealed.card--9 {
    background: url('../images/cards.png');
    background-position: 0px -900px;
}
.card--revealed.card--10 {
    background: url('../images/cards.png');
    background-position: 0px -1000px;
}
.card--revealed.card--11 {
    background: url('../images/cards.png');
    background-position: 0px -1100px;
}
.card--revealed.card--12 {
    background: url('../images/cards.png');
    background-position: 0px -1200px;
}
.card--revealed.card--13 {
    background: url('../images/cards.png');
    background-position: 0px -1300px;
}

h1 {
    text-align: center;
}

#memory {
    width : 730px;
    min-width: 730px;
    margin: auto;
}